.filter__button {
  all: unset;
  cursor: pointer;
  background-color: var(--color-darkblue);
  border-radius: 15px;
  display: flex;
  padding: 1rem;
}

.filter__button svg {
  fill: var(--color-white);
}

.filter__button.dark {
  background-color: var(--color-dm-blue);
}
