.favorites {
  padding-bottom: 7rem;
}

/* all svg */
.favorites svg {
  fill: var(--color-darkblue);
}

/* heart icon svg + h2 */
.favorites__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding-block: 3rem;
}

.favorites h2 {
  text-align: center;
  color: var(--color-darkblue);
}

/* darkmode h2 + all svg */
.favorites.dark h2,
.favorites.dark svg {
  color: var(--color-dm-blue);
  fill: var(--color-dm-blue);
}

/* only svg in heading */
.favorites__heading svg {
  height: 2.5rem;
  width: 2.5rem;
}

/** product card */
.favorites__productcard {
  display: flex;
  /* align-items: center; */
  border-radius: 12px;
  box-shadow: 0 4px 40px #00000013;
  overflow: hidden;
  margin-inline: 1.25rem;
  margin-bottom: 1.5rem;

  position: relative;
}

.favorites__productcard.dark {
  box-shadow: 0 0 40px var(--color-dm-box-shadow);
}

.favorites__productcard img {
  width: 40%;
  padding-right: 1rem;
  height: 10rem;
  object-fit: cover;
}

.favorites__productcard > div {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.favorites__productcard h3,
.favorites__productcard p {
  margin-bottom: 0.2rem;
}
.favorites__productcard h3 {
  text-transform: capitalize;
}

.favorites__productcard p {
  font-family: poppins-semibold;
  color: var(--color-darkblue);
}

.favorites__productcard.dark p {
  color: var(--color-dm-blue);
}

.favorites_rating {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-left: -0.2rem;
}

.favorites_rating p,
.favorites_rating.dark p {
  color: var(--color-gray1);
  font-size: 0.8rem;
}

/* bin icon svg */
.favorites__icon-bin {
  height: 24px;
  width: 24px;

  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
