.favorites {
  padding-bottom: 5rem;
}
.favorites svg {
  fill: var(--color-darkblue);
  width: 1.25rem;
  height: 1.25rem;
}

.favorites__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding-block: 3rem;
}

.favorites__heading svg {
  height: 3rem;
  width: 3rem;
}

.favorites h2 {
  text-align: center;
  color: var(--color-darkblue);
}

.favorites__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-inline: 1.25rem;

  /* margin-right: 3rem; */
  margin-bottom: 2rem;
}

.favorites__container-imgtext {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.favorites__container img {
  border-radius: 12px;
  height: 10rem;
  width: 10rem;
  /* object-position: center; */
  /* object-fit: cover; */
  object-fit: cover;
}

.favorites__text {
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
}

.favorites__rate {
  display: flex;
  align-items: center;
  margin-left: -0.4rem;
}

.favorites-title p {
  color: var(--color-darkblue);
}
