.popup {
  min-height: 100vh;
  min-width: 100vw;
  padding-inline: 1rem;
  padding-block-start: 2.5rem;
}

.popup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 4.5rem;
}

.popup__header h2 {
  margin-block-start: 0.1rem;
}

.popup__icon-close {
  width: 25px;
  fill: var(--color-darkblue);
}

.popup__categories,
.popup__price,
.popup__brands {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block-end: 3rem;
}

.popup__categories div,
.popup__price div,
.popup__brands div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
}

.popup__button {
  all: unset;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

.popup__button--selected {
  all: unset;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: var(--color-darkblue);
  color: var(--color-white);
}

.popup__button::first-letter,
.popup__button--selected::first-letter {
  text-transform: uppercase;
}

.btn--popup {
  margin-inline: auto;
  width: 100%;
}

.popup__button-container {
  display: flex;
  width: 100%;
  padding-inline: 1rem;
  margin-block-start: 6rem;
}
