.categories img {
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  /* box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2); */
  filter: drop-shadow(0 4px 40px #00000010);
  border-radius: 10px;
  object-fit: contain;
}

.categories-flex {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
}

.categories-flex::-webkit-scrollbar {
  overflow: hidden;
}

.categories-flex > div {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.categories-flex p {
  text-transform: capitalize;
  font-size: 0.75rem;
}
