.render-random-div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 20px;
}

.render-random-div p {
  color: var(--color-gray2);
}

.render-random__heading {
  margin-inline: 1.25rem;
  margin-block-end: -0.5rem;
}
