h1 {
  color: var(--color-heading-darkgray);
}

.search-filter {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  gap: 1rem;
  padding-inline: 20px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  width: 100%;
}
