h1 {
  color: var(--color-heading-darkgray);
  padding-left: 20px;
  margin: 2.8rem 0 1.5rem 0;
}

.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-inline: 20px;
}
