.back {
  display: flex;
  align-items: center;

  position: relative;

  cursor: pointer;
}

.back-arrow {
  margin-block-start: 0.4rem;
  width: 25px;
  height: 25px;
  fill: var(--color-darkblue);
  position: absolute;
  left: 0;
  top: -0.5rem;
}

.back-arrow.dark {
  fill: var(--color-dm-blue);
  background-color: white;
  border-radius: 100%;
}
