@font-face {
  font-family: poppins-medium;
  src: url(/fonts/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: poppins-regular;
  src: url(/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: poppins-semibold;
  src: url(/fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: poppins-bold;
  src: url(/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}

html {
  font-family: poppins-regular;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 450px;
  margin-inline: auto;
  min-height: 100vh;
}

:root {
  /* brand */
  --color-darkblue: #364fd4;

  /* gray colors */
  --color-heading-darkgray: #1e2126;
  --color-filterwords-gray: #5c6574;
  /* --color-onboarding-subtext-and-rating-and-detailpage-plus-bg-gray */
  --color-gray1: #828b9a;
  /* --color-text-viewall-search-sortby-detailpage--gray */
  --color-gray2: #b9c1cc;
  /*   --color-detailpage-minus-bg--gray */
  --color-gray3: #cad1d9;
  /*   --color-searchbar-and-picture-bg-gray */
  --color-gray4: #f0f3f8;
  --color-white: #ffffff;
}

h1 {
  font-family: poppins-bold;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-family: poppins-semibold;
}

h3 {
  font-family: poppins-semibold;
  font-size: 1.25rem;
}

h4 {
  font-family: poppins-semibold;
  font-size: 1rem;
}

.btn {
  font-family: poppins-semibold;
  font-size: 1rem;
  background-color: var(--color-darkblue);
  color: var(--color-white);
  border-radius: 15px;
  padding: 0.9375rem 2.5rem;
  border: 1px solid var(--color-darkblue);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
}

/* ! Styling Render Divs (Search + Home Popular) */
.render {
  padding: 1.25rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  padding-bottom: 4rem;
}

.render article {
  display: flex;
  flex-direction: column;

  border-radius: 12px;
  overflow: hidden;

  box-shadow: 0 4px 40px #00000013;
  cursor: pointer;

  padding-bottom: 1rem;
}

.render article img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

.render article div {
  display: flex;
  gap: 0.625rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.render-rate {
  align-items: center;
}

.render-rate p {
  color: var(--color-gray1);
}

.render-title {
  justify-content: space-between;
  align-items: center;
}

.render-title h4 {
  /* max-width, damit die längeren Produktnamen nicht umbrechen, sondern versteckt werden; bis 11ch ändert sich nichts am restlichen Design; für responsive in media queries entsprechend anpassen */
  max-width: 11ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-bottom: 0.5rem;
}

.render-title p {
  color: var(--color-darkblue);
  font-family: poppins-semibold;
}

.render-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
}
